{% extends 'base.html' %}

{% block content %}

<h1>BuyTransactionForm</h1>

<form action="buytxnsaved" method='post'>
    {% csrf_token %}
    Product Name
    <select id="product_name" name="product_name">
        {% for x in products %}
            <option value="{{ x.name }}">{{ x.name }}</option>
        {% endfor %}
    </select>
    <br>
    Product Type
    <select id="product_type" name="product_type">
        {% for x in producttypes %}
            <option value="{{ x.ptype }}">{{ x.ptype }}</option>
        {% endfor %}
    </select>
    <br>
    Rate <input type="number" name="rate" step="any" />
    <br>
    Quantity <input type="number" name="quantity" />
    <br>
    <input type="submit" name="Submit"/>
</form>

{% endblock %}
