{% extends 'base.html' %}

{% load static %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h3>Buy Transaction Form</h3>

<form action="buytxnsaved" method='post'>
    {% csrf_token %}
    <label for="product_type">Product Type</label>
    <select id="product_type" name="product_type">
        {% for x in producttypes %}
            <option value="{{ x.ptype }}">{{ x.ptype }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="product_name">Product Name</label>
    <select id="product_name" name="product_name">
    </select>
    <br>
    <label for="rate">Rate</label>
    <input type="number" name="rate" step="any" /><br>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity"/><br>
    <input type="submit" name="Submit"/>
</form>

<script src="{% static 'js/buy_sell_txn_form.js' %}"></script>

{% endblock %}
