{% extends 'base.html' %}

{% block content %}
<h2>Retail Application</h2>
<h3>Home</h3>

<a href="/retail/buy">Buy Product</a><br>
<a href="/retail/sell">Sell Product</a><br>
<a href="/retail/newproducttype">Add New Product Type</a><br>
<a href="/retail/newproduct">Add New Product</a><br>
<a href="/retail/productdelete">Delete Product</a><br>
<a href="/retail/listproducttypes">List All Product Types</a><br>
<a href="/retail/listproducts">List All Products</a><br>
<a href="/retail/buyhistory">Buy History</a><br>
<a href="/retail/sellhistory">Sell History</a><br>

{% endblock %}
