{% extends 'base.html' %}

{% block content %}

<h3>Sell History</h3>

<table>
    <tr>
        <th>Date</th>
        <th>ProductType</th>
        <th>ProductName</th>
        <th>Rate</th>
        <th>Quantity</th>
    </tr>
    {% for x in allsell %}
    <tr>
        <td>{{ x.sdate }}</td>
        <td>{{ x.sp.ptype.ptype }}</td>
        <td>{{ x.sp.name }}</td>
        <td>{{ x.srate }}</td>
        <td>{{ x.squantity }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
